<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" type="text/css" href="static\css\style.css"> 
	<title>success</title>
</head>
<body>
<h1 style="margin-left:450px"> COVID-19 Analysis in INDIA &#9977
</h1>

<form method="POST" action="/">

	
   <input style="text-align: center; margin-left: 350px" type="text" name="age" placeholder="Enter your Age"  >  
   <input style="max-width: 150px" type="submit"> 


   </form>
      
   <h2 style="margin-left: 250px">Percentage of Affected People by COVID-19 = {{var}}  % </h2>
   <h2>
        

   <article style="margin-top: 100px"> <p>&#128142 Latest update on Covid-19  </p> </article></h2>
   
    

     <p> <h3> <p>FIND Nearest COVID-19 case to your location &#128073 <a style="color: RED" href="https://indiasmile.org/covid">Click Here </a><br>

      <p>	WHO Report on COVID-19  &#128073 
      	<a style="color: RED" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019"> Click Here </a> </p>



      	<p> COVID-19 TRACKER &#128073<a  style="color: RED" href="https://www.covid19india.org/"> Click Here</a> </p>
      	





      </a>


                    </p></h3></p>


  <footer style="margin-left: 950px">
  	<p>Follow me on:<br>
  	GIT HUB &#128073 <a style="color: chartreuse" href="https://github.com/niketkumardheeryan">Click Here</a> <br>
  	Instagram &#128073 <a style="color: chartreuse" href="https://www.instagram.com/way_2_sky/">Click Here</a> <br>
  	 Linked in &#128073 <a style="color: chartreuse" href="https://www.linkedin.com/in/niket-kumar-dheeryan-87ba19190">Click Here</a> <br>

     Creator: &#128081 NIKET DHEERYAN
  		
                              

                                   	</p>







  </footer>


</body>
</html>